// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.post-main-section {
    list-style: none;
    text-align: center;
    padding: 0;
    
    .post-content {
        width: 30vw;
        margin-left: 35vw;
        background: white;
        border: 0.1vw solid rgba(10,10,10,0.1);
        margin-bottom: 3vw;
        
        .post-owner {
            border-bottom: 0.1vw solid rgba(10, 10, 10, 0.1);
            padding: 1vw;
            color: #7070CE;
            text-align: left;
            font-size: 1.3vw;
        }
        
        .post-image {
            border-bottom: 0.1vw solid rgba(10,10,10,0.1);
            padding: 2vw 0;
            
            img {
                width: 26vw;
            }
        }
        .post-caption {
            padding: 2vw 0;
            font-size: 1.4vw;
        }
    }
}

.new-post-section {
    text-align: center;
    width: 46vw;
    margin-left: 29vw;
    background: #A58888;
    padding-top: 1vw;
    margin-top: 12vw;
    border-radius: 9vw;
    box-shadow: 0vw 0vw 5vw -1vw;
    
    .new-post-header {
        text-transform: uppercase;
        font-family: monospace;
        font-size: 4vw;
    }
    
    form#new_post {
        display: table-caption;
        width: 42vw;
        padding: 2vw 2vw 6vw;
        
        input#post_image {
            font-size: 1.5vw;
            padding: 3vw;
            margin-left: 9vw;
        }
        textarea#post_caption {
            height: 9vw;
            width: 40vw;
            border-radius: 1vw;
            border: 0.2vw solid rgba(10,10,10,0.1);
            margin-bottom: 2vw;
        }
        input.new-post-submit {
            background: beige;
            font-size: 2vw;
            border-radius: 1vw;
            text-transform: uppercase;
            font-family: monospace;
            padding: 1vw 2vw;
        }
    }
}